.card-items {
  text-align: center;
}

.padding-20 {
  padding-bottom: 20px;
}

.input-style {
  width: 30px;
}

.center-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-style {
  font-size: 18px;
  font-weight: 700;
}
