<mat-toolbar color="primary">
  <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/scores']">Score</button>
      <button mat-menu-item [routerLink]="['/points-table']">Points Table</button>
    </mat-menu>
  </button>

  </span>


  <span class="toolbar-style">PTC SCORER</span>
  <span>
    <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
    </button>
  </span>
</mat-toolbar>
