<section>
  <app-ptc-toolbar></app-ptc-toolbar>

  <table mat-table [dataSource]="teams" >
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Team Name </th>
      <td mat-cell *matCellDef="let element"> {{element.team_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="seeding">
      <th mat-header-cell *matHeaderCellDef> Seeding Points </th>
      <td mat-cell *matCellDef="let element"> {{element.seeding_points}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="robin">
      <th mat-header-cell *matHeaderCellDef> Round Robin </th>
      <td mat-cell *matCellDef="let element"> {{element.rr_points}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
